body{padding:0px; margin:0px; font-family:arial; }
.mainsection{ background-color:#eae7e7;}
.heading{text-align:center; }
.heading h1{font-family:italic; font-size:36px; color:#757474; margin-bottom:0px }
.heading p{font-size:15px ;color:#7d7d7d; }
.field{border:none;  margin:10px 0px; margin-bottom:0px; width:100%; height:25px }
.h2{ margin:0px; font-size:15px ;font-weight:500; color:#757575; padding-top:5px}
.sectionthree{width:70%; margin:auto}
.hr{ margin-top:0px; border:1px solid #00b0ff}
.button{width:65%; margin:auto; padding:10px 0px; }
.thirdbutton{width:100%; height:45px; cursor:pointer; background-color:#00b0ff; color:#fff;border:none;font-weight:550; font-size:15px}
.lasth2{display:inline-block; font-size:20px; font-weight:500; color:#353434 ;}
.secondsection{background-color:#d2cfcf;}
.last{width:60%; margin:auto;  }
.last button{width:20%; height:40px; border:none; background-color:#eceaea;margin-left:17px; cursor:pointer}
.lastbutton{font-size:15px; font-weight:550; text-transform:uppercase; color:#3e3c3c}

.fixed{position:fixed; top:10px; left:20px; z-index:1;  }
.show1{background-color:#02ca02;}
.hide1{background-color:#e84337;}
.fixed button{ width:74px; height:30px; border:none; cursor:pointer}
