body{padding:0px; margin:0px; font-family:arial;background-color:#d3d3d3}
.section-one{width:100%;
 max-width:740px;
 margin:auto;
 border:1px solid red;
 padding:50px 30px;
 border-radius:20px;
 background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
 }
.name{padding:10px 0px;}
.city{padding:10px 0px;}
.phone{padding:10px 0px;}
.email{padding:10px 0px;}
.form input{border-radius:0px;}
.name input{border-radius:0px;}
.city input{border-radius:0px;}
.email input{border-radius:0px;}

.showdiv{position:fixed; right:0; bottom:0px; width:200px; height:200px; background-color:green;}