#slider .item{background-color:#ccc;}
.box-design{padding:20px; text-align:center;}
.color1{background-color:#a2eff7;}
#slider .box-design img{width:70%; margin:auto;}
.box-txt h3{text-transform:uppercase;}
.color2{background-color:#ffebb4}
.color3{background-color:#9ab1f3}
.color4{background-color:#ff716b}
.color5{background-color:#ffebb4}
.color6{background-color:#ffebb4}
.color7{background-color:#ffebb4}
