body{padding:0; margin:0;}
#slider{position:relative; height:300px;}
#slider .item{ position:absolute; top:0; left:0; width:100%; display:none;}
#slider .item img{width:100%;}
#slider .item:nth-child(1){z-index:99;}
#slider .item:nth-child(2){z-index:9;}
#slider .item:nth-child(3){z-index:1;}
#slider .item.active{ display:block;}

.btn-left{ position:absolute; left:0; z-index:999; width:40px; height:40px; background:#fff; top:0; bottom:0; margin:auto; cursor:pointer;}
.btn-right{position:absolute; right:0;z-index:999;width:40px; height:40px; background:#fff; top:0; bottom:0; margin:auto; cursor:pointer;}

.dot i{color:#ccc;}
.dot.active i{color:green;}